body {
  text-align: center;
  background-color: grey;
}

h2 {
  background-color: red;
  font-size: 4vw;
}

/* 172.16.2.42:8080*/


@media only screen and (min-width: 600px) {
  body {
    background-color: green;
  }

  h2 {
    background-color: white;
  }
}

.icon-eyedropper {
  font-size: 10vw;
}
@media only screen and (min-width: 800px) {
  body {
    background-color: purple;
  }

  h2 {
    background-color: orange;
  }

  .icon-eyedropper {
    display: none;
  }

  
}

